
@font-face {
  font-family: 'Coolvetica-Regular';
  font-style: normal;
  font-weight: normal;
  src:url('CoolveticaRg-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Coolvetica-Bold';
    font-style: bold;
    font-weight: normal;
    src: url('CoolveticaRg-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Oswald-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('Oswald-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-weight: bold;
    font-style: normal;
    src: url('Oswald-Bold.ttf') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    font-style: normal;
    src: url('Oswald-SemiBold.ttf') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    font-style: normal;
    src: url('Oswald-Light.ttf') format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    font-style: normal;
    src: url('Oswald-ExtraLight.ttf') format('woff');
}