* {
  box-sizing: border-box;
}
body,
div,
span,
object,
iframe,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "MuseoSans_500" !important ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0 !important;
  margin-bottom: 0px !important;
}

img {
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button {
  outline: none;
}

/****reset styles***/

:root {
  --primary-blue-color: #114572;
  --primary-yellow-color: #f7931e;
  --primary-grey-color: #e6e6e6;
  --label-grey-color: #707070;
  --dashbord-grey-color: #fdfcff;
}

.section {
  padding: 80px 0px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blue-bar {
  background-color: var(--primary-blue-color);
  padding: 10px 15px;
  border-bottom: 7px solid var(--primary-yellow-color);
}

.btn-icon span {
  font-size: 32px;
  cursor: pointer;
}

.main-navigation {
  background-color: var(--primary-grey-color);
  padding: 5px 15px;
}

/***header***/

.check-box-field input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.check-box-field input[type="checkbox"] {
  display: none;
}

.check-box-field input[type="checkbox"] + label:before {
  content: "";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

.check-box-field input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

.check-box-field input[type="checkbox"]:checked + label:before {
  background: url("../images/check.png") var(--primary-blue-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-color: var(--primary-blue-color);
  color: #fff;
}

.check-box-field input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

.login-wrapper .inner {
  background-color: #f5f5f5;
  border-radius: 10px;
  max-width: 50%;
  padding: 25px;
  margin: auto;
  box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.2);
}

.login-wrapper .form-title {
  text-align: center;
  margin-bottom: 30px;
}

.login-wrapper .field-wrapper {
  margin-bottom: 25px;
}

.login-wrapper .form-title h3 {
  color: var(--primary-blue-color);
  font-family: "MuseoSans_500";
  font-weight: bold;
}

.login-wrapper .field-wrapper:last-child {
  margin-bottom: 0px;
}

.login-wrapper .field-wrapper label {
  display: block;
  margin-bottom: 5px;
  color: var(--label-grey-color);
  font-weight: 300;
}

.login-wrapper .field-wrapper {
  position: relative;
  z-index: 0;
}

.email-field::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/mail-icon.svg) #ffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 50%;

  z-index: 2;
}

.password-field::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/eye-icon.svg) #ffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 50%;

  z-index: 2;
}

.login-wrapper .field-wrapper input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.login-wrapper .field-wrapper input:focus {
  box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.15);
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-wrap {
  padding: 0px 30px;
}

.submit-wrap input {
  width: 50%;
  margin: auto;
  display: block;
  padding: 10px;
  color: #cccccc;
  background-color: var(--primary-blue-color);
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  transition: all 0.3s;
}

.submit-wrap input:hover {
  transform: translateY(-5px);
  box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.3);
}

.seprator span {
  padding: 30px 0px 30px 0px;
  display: block;
  text-align: center;
  color: var(--label-grey-color);
  position: relative;
  font-size: 20px;
}

.seprator span::after {
  content: "";
  width: 20%;
  height: 1px;
  background-color: var(--label-grey-color);
  position: absolute;
  left: 0;
  top: 50%;
}

.seprator span::before {
  content: "";
  width: 20%;
  height: 1px;
  background-color: var(--label-grey-color);
  position: absolute;
  right: 0;
  top: 50%;
}

.login-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.login-row .box {
  width: 50%;
  padding: 0px 15px;
}

.other-login-opts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0px -15px;
}

.other-login-opts .opt-col-2 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0px 15px 20px 15px;
}

.other-login-opts .opt-col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0px 15px;
}

.other-login-opts a {
  display: block;
  background-color: var(--primary-blue-color);
  color: #cccccc;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 5px;
}

.other-login-opts a:hover {
  color: #fff;
  text-decoration: none;
}

.other-sep span::before,
.other-sep span::after {
  content: "";
  width: 34%;
}
/***login page****/
.forgot-wrapper .submit-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forgot-wrapper .submit-wrap input {
  display: inline-block;
  width: 40%;
}

.forgot-wrapper .inner {
  padding: 38px 25px;
}

/**modal***/

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 25%;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.modal-content p {
  padding: 5px;
}

.close-button {
  float: right;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/**modal***/

/***forgot password page**/
.sign-up-form-section .form-title {
  margin: 40px 0px 60px 0px;
}

.sign-up-form-section .inner {
  max-width: 75%;
  border-top: 4px solid var(--primary-yellow-color);
  border-bottom: 4px solid var(--primary-yellow-color);
}

.sign-up-form-section .fields-row {
  margin: 20px -15px;
}

.sign-up-form-section .fields-row:last-child {
  margin: 0px -15px;
  flex-wrap: wrap;
}

.sign-up-form-section .form-col {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0px 15px;
}

.sign-up-form-section .field-wrapper {
  width: 100%;
}

.sign-up-form-section .field-wrapper textarea {
  width: 100%;
  min-height: 120px;
  display: block;
  resize: none;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}

.sign-up-form-section .field-wrapper textarea:focus {
  box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.15);
}

.my-20 {
  margin: 20px 0px;
}

.sign-up-form-section .form-row-3 .form-col {
  max-width: 25%;
  flex: 0 0 25%;
}

.sign-up-form-section .submit-wrap {
  margin: 40px 0px;
}

.non-member-aap {
  padding-bottom: 80px;
}

/***non member sign  up form****/

.member-signup-section .title-main {
  text-align: center;
  margin-bottom: 40px;
}

.member-signup-section .title-main h3 {
  margin-bottom: 40px !important;
}

.member-signup-section .title-main a {
  color: var(--primary-yellow-color);
}

.member-signup-section .flex-row {
  justify-content: space-between;
}
.member-app-section .field-wrapper {
  z-index: auto;
}

.member-signup-section .form-btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #114572;
  color: #f9f9f9;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.member-signup-section .form-btn span {
  display: block;
  z-index: 2;
  position: relative;
}

.member-signup-section .form-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: var(--primary-yellow-color);
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: all 0.3s;
}

.member-signup-section .form-btn:hover::before {
  width: 100%;
}

.member-signup-section .flex-row .column {
  max-width: 50%;
  flex: 0 0 50%;
}

.member-signup-section .flex-row .select-wrap {
  width: 75%;
  margin-left: auto;
}

.sign-up-table-section table {
  width: 100%;
}

.sign-up-table-section table thead th:first-child {
  width: 28%;
  background-color: var(--primary-blue-color);
}

.sign-up-table-section table thead th:not(:first-child) {
  width: 11.66%;
}

.sign-up-table-section table thead th:nth-child(2) {
  background-color: #65aeb9;
}

.sign-up-table-section table thead th:nth-child(3) {
  background-color: #99c64a;
}

.sign-up-table-section table thead th:nth-child(4) {
  background-color: #c4522f;
}

.sign-up-table-section table thead th:nth-child(5) {
  background-color: #b8431e;
}
.sign-up-table-section table thead th:nth-child(6) {
  background-color: #ea6537;
}

.sign-up-table-section table thead th:nth-child(7) {
  background-color: #c4522f;
}

.sign-up-table-section table thead th {
  padding: 15px 10px;
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.sign-up-table-section table tbody td:first-child {
  width: 28%;
}

.sign-up-table-section table tbody td {
  white-space: nowrap;
  padding: 15px 10px;
}

.sign-up-table-section table tbody td:not(:first-child) {
  width: 11.66%;
  text-align: center;
}

.sign-up-table-section table tbody td img {
  width: 20px;
}

.sign-up-table-section table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.sign-up-table-section {
  padding: 0px 0px 80px 0px;
}

.sign-up-table-section .table-main {
  overflow-x: auto;
}

.sign-up-table-section .table-main::-webkit-scrollbar {
  width: 8px;
}

.sign-up-table-section .table-main::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.sign-up-table-section .table-main::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--primary-blue-color);
}
/**memeber sign up main section***/
.personal-details-section .form-title h4 {
  margin-top: 15px !important;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-yellow-color);
}

.personal-details-section {
  padding: 0px 0px 80px 0px;
}

.personal-details-section h5 {
  padding: 10px 20px;
}

.personal-details-head .title-main h3,
.personal-details-head .title-main {
  margin-bottom: 0px !important;
}

/***member sign up persoanl details***/
.radio-field .field-col {
  padding: 0px 15px;
  max-width: 33.33%;
  flex: 0 0 33.33%;
  margin-bottom: 10px;
}

.radio-field .form__radio-input {
  display: none;
}

/**radio btns ***/

.radio-field .form__label-radio {
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
}

.radio-field .form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--primary-blue-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0rem;
}
.radio-field .form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-blue-color);
  opacity: 0;
  transition: opacity 0.2s;
}

.radio-field
  .form__radio-input:checked
  ~ .form__label-radio
  .form__radio-button::after {
  opacity: 1;
}

/**radio btns**/

.radio-field .fields-row {
  justify-content: flex-start;
  align-items: baseline;
  margin: 10px -15px 10px -15px;
}

.member-app-section .main-label {
  margin-bottom: 15px !important;
  font-size: 22px;
  font-weight: 500;
  color: var(--label-grey-color);
}

.radio-field .main-label .secondary-label {
  font-size: 16px;
  display: block;
  margin-top: 15px;
  font-weight: 300;
}

.member-app-section .select-field {
  width: 65%;
}

.member-app-section .select-field .member-app-section .full-name-row .form-col {
  max-width: 33.33%;
  flex: 0 0 33.33%;
}

.member-app-section .form-row {
  position: relative;
}

.member-app-section .field-note {
  position: absolute;
  display: block;
  bottom: -20px;
  font-size: 1.2rem;
}

.member-app-section .form-sub-title-main .main-label {
  margin-bottom: 0px !important;
}

.member-app-section .note-field-row {
  margin: 20px -15px 40px -15px;
}

.contact-info {
  margin-top: 25px;
}

.contact-info .secondary-label {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.check-main .check-box-field input[type="checkbox"] + label:before {
  position: absolute;
}

.check-main .check-box-field label span {
  display: flex;
  padding-left: 25px;
}

.member-app-section h5 strong {
  display: block;
  padding-bottom: 5px;
}

/* .member-app-section .select-wrap {
  position: relative;
  z-index: 9999;
} */
/***memeber application***/
.member-dashboard {
  padding: 60px 0px;
  background-color: var(--dashbord-grey-color);
}

.side-bar-col ul li {
  list-style: none;
}

.member-dashboard .side-bar-menu {
  margin: -10px 0px;
}

.side-bar-menu li {
  padding: 10px 0px;
  position: relative;
}

.member-dashboard .side-bar-col {
  max-width: 25%;
  flex: 0 0 25%;
}

.side-bar-menu .active::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/right-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.side-bar-menu li a {
  display: block;
  background-color: transparent;
  color: var(--primary-blue-color);
  background-color: #f5f5f5;
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s;
}

.side-bar-menu .active a {
  background-color: #f5f5f5;
  color: var(--primary-blue-color);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.side-bar-col .QandAbox {
  padding: 20px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.side-bar-col .QandAbox .title-main h4 {
  color: var(--primary-blue-color);
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.side-bar-col .QandAbox .title-main h5 {
  color: var(--primary-yellow-color);
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

.content-main ul li {
  position: relative;
}

.content-main ul .tel {
  padding-bottom: 5px;
}

.content-main ul .tel::before {
  content: "\260E";
  color: var(--primary-blue-color);
}

.content-main ul .mail::before {
  content: "\2709";
  color: var(--primary-blue-color);
}

.social-media-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -10px;
}

.social-media-wrapper ul li {
  padding: 0px 10px;
  width: 65px;
  height: 65px;
  text-align: center;
}

.social-media-wrapper ul li img {
  width: 100%;
}

.member-dashboard .flex-row {
  margin: 0px -15px;
  align-items: flex-start;
}

.member-dashboard .column {
  padding: 0px 15px;
}

.member-dashboard .dashboard-profile-area {
  max-width: 75%;
  flex: 0 0 75%;
}

.member-dashboard .dashboard-profile-area .color-bar {
  width: 100%;
  min-height: 200px;
  background-color: #2b3340;
  border-radius: 20px;
}

.profile-box .avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 0px auto 30px auto;
}
.profile-box .avatar-upload .avatar-edit {
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 11px;
}
.profile-box .avatar-upload .avatar-edit input {
  display: none;
}
.profile-box .avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.profile-box .avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.profile-box .avatar-upload .avatar-edit input + label:after {
  content: "\270E";
  position: absolute;
  color: #707070;
  top: 7px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 16px;
  transform: scaleX(-1);
}
.profile-box .avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f0f0f0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.profile-box .avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-box .profile-main-details {
  text-align: center;
  background-color: #f5f5f5;
  padding: 80px 15px 30px 15px;
  border-radius: 10px;
  margin-top: -100px;
  margin-bottom: 60px;
}

.profile-box .profile-main-details h1 {
  font-size: 28px;
  color: var(--primary-blue-color);
  padding-bottom: 15px;
}

.profile-box .profile-main-details h2 {
  font-size: 22px;
  color: var(--label-grey-color);
}

/**acc**/
.accordion-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.acc-head {
  position: relative;
  background-color: var(--primary-blue-color);
  padding: 15px 10px;
  color: #fff;
  font-size: 18px;
  border-bottom: 4px solid var(--primary-yellow-color);
}

.acc-head::after {
  content: "\276F";
  position: absolute;
  right: 16px;
  transform: rotate(0deg);
  transition: 0.4s;
}

.acc-head.active::after {
  content: "\276F";
  position: absolute;
  right: 16px;
  color: #fff;
  transform: rotate(90deg);
  transition: 0.4s;
}
.acc-body {
  padding: 20px 15px;
  background-color: #f5f5f5;
  display: none;
}

.details-main-area .accordion-wrapper:first-child .acc-body {
  display: block;
}

/**acc**/

.accordion-wrapper .flex-row {
  margin: 0px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.accordion-wrapper .flex-row:last-child {
  padding-bottom: 0px;
}

.accordion-wrapper .flex-row .cols {
  width: 50%;
}

.edit-area {
  text-align: end;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-area img {
  width: 18px;
  height: 18px;
}

.edit-area a {
  color: #114572;
}

.main-navigation .flex-row {
  justify-content: space-between;
}

.modal-wrapper .flex-row {
  justify-content: space-between;
  padding: 15px 20px;
}

.priamry-button {
  display: inline-block;
  text-align: center;
  padding: 10px 25px;
  color: #fff;
  background-color: var(--primary-blue-color);
  border-radius: 5px;
  width: auto;
}

.priamry-button:hover {
  color: #fff;
  text-decoration: none;
}

.modal-wrapper .modal-content {
  text-align: center;
}

.modal-wrapper .modal-content p {
  padding-bottom: 40px;
}
/***memeber dashboard***/

.admin-login {
  background-image: url(../images/admin-bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/***admin login***/

.admin-forgot .submit-wrap input {
  width: 75%;
}

/**admin forgot***/

.admin-login .field-wrapper .resend {
  display: block;
  text-align: end;
  padding-top: 5px;
}

.admin-login .field-wrapper .resend a {
  text-decoration: none;
}

.admin-login .field-wrapper .resend a:hover {
  color: #114572;
}

/**admin reset pasword***/
.dashboard-profile-area .pannels {
  display: none;
}

.dashboard-profile-area section.active {
  display: block;
}

.dashboard-profile-area .flex-row {
}

.counter-cards h4 {
  font-size: 24px;
  color: var(--label-grey-color);
}

.counter-cards img {
  width: 40px;
  margin-bottom: 15px;
}

.counter-cards {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 7px;
  padding: 25px 20px;
  text-align: center;
  border-top: 5px solid var(--primary-blue-color);
  min-height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.counter-cards .count-body h5 {
  font-size: 28px;
  color: #000;
  padding: 15px 10px;
}

.dashboard-profile-area .counter-col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px 15px;
}

.dashboard-profile-area .flex-row {
  padding: 0px 30px;
  flex-wrap: wrap;
}

.charts-row .columns {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px 15px;
  margin-top: 40px;
}

.charts-row .columns .chart-title-main {
  padding: 15px;
  color: #fff;
  font-size: 18px;
  background-color: var(--primary-blue-color);
}

.charts-row .columns .chart-wrapper {
  text-align: center;
  border: 1px solid var(--primary-blue-color);
}

.charts-row .columns img {
  width: 85%;
  text-align: center;
}

.blue-bar .flex-row {
  justify-content: space-between;
  align-items: center;
}

.blue-bar .options {
  display: none;
}

.blue-bar .flex-row .admin-wrapper a {
  color: #fff;
  font-size: 16px;
}

.blue-bar .flex-row .admin-name a {
  display: flex;
  align-items: center;
}

.blue-bar .flex-row .admin-name span {
  background: url(../images/img_avatar.png);
  width: 45px;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px solid #f5f5f5;
  display: inline-block;
  margin-right: 10px;
}

/**admin dash board**/
.user-table table {
  width: 100%;
}

.user-table table thead tr {
  background-color: var(--primary-blue-color);
  color: #fff;
}

.user-table table thead tr th {
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.user-table table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.user-table table tbody tr td {
  padding: 15px 10px;
  text-align: center;
}

.actions-row {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

.img-box {
  margin: 20px auto 20px auto;
}
.img-box img {
  width: 100%;
  border-radius: 50%;
}

.img-box .img-label {
  margin-top: 15px;
}

.img-box .img-label h5 {
  font-size: 24px;
  font-weight: bold;
}

.view-user .modal-contentnew,
.edit-user .modal-contentnew {
  width: 40%;
}

.btn-wrapper {
  margin-bottom: 40px;
}

.m-btn {
  position: static;
  text-align: center;
  float: none;
  background-color: var(--primary-blue-color);
  color: #cccccc;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  display: inline-block;
  transition: all 0.5s;
}

.m-btn:hover {
  transform: translateY(-5px);
  box-shadow: -1px -1px 9px -1px rgb(0 0 0 / 30%);
  -webkit-box-shadow: -1px -1px 9px -1px rgb(0 0 0 / 30%);
  -moz-box-shadow: -1px -1px 9px -1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #cccccc;
  background-color: var(--primary-blue-color);
}

.view-item .avatar-edit input + label {
  display: none !important;
}

.modal-wrappernew {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: none;
}
.modal-contentnew {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 25%;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.edit-user .flex-row {
  justify-content: space-between;
  margin-bottom: 15px;
}
.img-label {
  text-align: center;
}
/***admin user manage***/

.site-footer .top-footer {
  background-color: var(--primary-blue-color);
  border-bottom: 7px solid var(--primary-yellow-color);
  padding: 30px 15px;
  min-height: 280px;
}

.bottom-footer {
  background-color: var(--primary-grey-color);
  padding: 30px 15px;
}
.modal-header {
  text-align: center;
  font-weight: bold;
}

.email-id-label label {
  font-size: 16px;
}

.btn-wrapper {
  text-align: center;
  margin-top: 30px;
}

.modal-contentnew .flex-row {
  justify-content: space-between;
}

.btn-wrapper .flex-row {
  justify-content: space-evenly;
}

.del-modal .img-label h5,
.log-out .img-label h5 {
  font-size: 18px;
  font-weight: 300;
}

.modal-wrappernew h4 {
  font-size: 26px;
  font-weight: bold;
}

/**footer***/

/***temparay css remove it***/
.nav-screen {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 5px;
}

.nav-screen ul li {
  list-style: none;
  text-align: center;
  padding-bottom: 5px;
}

.nav-screen .title {
  text-align: center;
  padding-bottom: 15px;
}

.h-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #114572;
}

/****/
