@media screen and (max-width: 1199px) {
    .login-wrapper .inner {
        max-width: 75%;
    } 

}




@media screen and (max-width: 1024px) {
    .section {
        padding: 50px 15px;
    }

    .sign-up-table-section {
        padding: 0px 0px 50px 0px;
    }

    
    .personal-details-section {
        padding:0px 0px 50px 0px;
    }

    .non-member-aap {
        padding-bottom: 50px;
    }




    
    .sign-up-form-section .inner {
        max-width: 100%;
    }

    .modal-content {
        width: 50%;
    }

    .sign-up-form-section .form-title {
        margin:20px 0px 30px 0px
    }

    .sign-up-form-section .submit-wrap {
        margin: 20px 0px;
    }

    .member-signup-section .title-main h3 {
        font-size: 22px;
    }

    .radio-field .field-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .member-app-section .full-name-row .form-col {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 10px 0px;
    }

    
    .member-app-section .form-row {
        flex-wrap: wrap;
    }


    .member-dashboard .side-bar-col {
        max-width: 35%;
        flex: 0 0 35%;
    }


    .member-dashboard  .dashboard-profile-area {
        max-width: 65%;
        flex: 0 0 65%;
    }

    .counter-cards h4 {
        font-size: 22px;
    }

    .dashboard-profile-area .flex-row {
        padding: 15px 15px;
    }

}


@media screen and (max-width: 991px) {
    .dashboard-profile-area .counter-col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .dashboard-profile-area .flex-row {
        justify-content: center;
    }

  
}

@media screen and (max-width: 767px) {
    .section {
        padding: 40px 15px;
    }

    .sign-up-table-section {
        padding: 0px 15px 40px 15px;
    }

    .personal-details-section {
        padding:0px 0px 40px 0px;
    }

    .non-member-aap {
        padding:0px 0px 40px 0px;
    }

    .login-wrapper .inner {
        max-width: 100%;
        padding: 25px 15px;
    } 

    .other-login-opts .opt-col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .other-sep span::before,.other-sep span::after  {
        content: '';
        width: 25% !important;
       }

    .seprator span::after,.seprator span::before {
        content: '';
        width: 10%;
    }

    .seprator span {
        font-size: 16px;
    }

    .seprator span {
        padding: 15px 0px;
    }

    .submit-wrap input {
        width: 80%;
    }

    .login-wrapper .field-wrapper {
        margin-bottom: 15px;
    }

    .login-wrapper .submit-wrap input {
        font-size: 16px;
    }


    .modal-content {
        width: 75%;
        font-size: 1.5rem;
    }

    .forgot-wrapper .submit-wrap input {
        width: 100%;
    }
    
    .sign-up-form-section .fields-row {
        margin: 0px -15px;
    }

    .sign-up-form-section .form-col {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 10px 0px;
    }



    .sign-up-form-section .fields-row {
        flex-wrap: wrap;
    } 

    .my-20 {
        margin: 10px 0px;
    }


    .sign-up-form-section .form-row-3 .form-col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .sign-up-form-section .add-wrap  {
        margin-top: 10px;
    }
 

    .member-signup-section .title-main h3 {
        font-size: 18px;
        margin-bottom: 20px !important;
    }

    .member-signup-section .title-main {
        margin-bottom: 20px;
    }


    .member-signup-section h4 {
        font-size: 16px;
    }


    .member-signup-section .flex-row {
        flex-wrap: wrap;
    }

    .member-signup-section .flex-row  .column {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 15px 0px;
    }

    .member-signup-section .flex-row .select-wrap {
        width: 100%;
    }

    .member-signup-section .form-btn {
        display: block;
    }

    
    .radio-field .field-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .member-app-section .select-field {
        width: 100%;
    }
    

    .member-app-section .full-name-row .form-col {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 10px 0px;
    }


    .member-app-section  .mail {
        margin-top: 30px;
    }


    .member-dashboard {
        padding: 40px 0px;
    }

    
    .member-dashboard .side-bar-col {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 40px;
    }


    .member-dashboard  .dashboard-profile-area {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .profile-box .profile-main-details h1 {
        font-size: 24px;
    }

    .profile-box .profile-main-details h2 {
        font-size: 20px;
    }
 
 
    .side-bar-menu li a {
        font-size: 16px;
    }

    .dashboard-profile-area .counter-col {
        max-width: 100%;
        flex: 0 0 100%;
    }


    .counter-cards {
        padding: 15px 10px;
        min-height: auto;
    }


    .dashboard-profile-area .flex-row {
        padding: 0px 0px;
    }

    .charts-row .columns {
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 0px;
    }

    .actions-row {
        width: 100%;
    }

    .view-user .modal-content {
        width: 95%;
      }

   
}





@media screen and (max-width: 540px) {
    .seprator span::after,.seprator span::before {
        content: '';
        width: 6%;
    }
}